<secction>
  <div class="txt-two-image-container">
    <div class="two-image-text">
      <h1>{{ section.settings.title }}</h1>
      <p>{{ section.settings.paragraph }}</p>
    </div>
   <div class="images-container"> 
    <img src="{{ section.settings.left-image | image_url }}" alt="Left Image" width="200" height="200">
    <img src="{{ section.settings.right-image | image_url }}" alt="Right Image" width="200" height="200">
</div>

  </div>
  <hr id="line-gray">
</secction>
{% schema %}
{
  "name": "Text and two image",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "default": "Title",
        "label": "Title"
      },
    {
        "type": "textarea",
        "id": "paragraph",
        "label": "paragraph",
        "default": "paragraph"
      },
    {
  "type": "image_picker",
  "id": "left-image",
  "label": "Left image"
},
      {
  "type": "image_picker",
  "id": "right-image",
  "label": "right image"
}
  ]
}
{% endschema %}
