{{ 'title-and-text-product.css' | asset_url | stylesheet_tag }}
<section class="container-sec-tatp">
  <div class="container-text-tatp">
    <h1 id="title-tatp">{{ section.settings.title }}</h1>
    <p id="paragraph-tatp">{{ section.settings.paragraph }}</p>
    <hr id="line-tatp">
  </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "textarea",
        "id": "paragraph",
        "label": "Paragraph",
        "default": "Welcome to my shop!"
      }
    ]
  }
{% endschema %}
