.container-sec-tatp {
  background-color: #c2b2a3;
}
#title-tatp {
  color: #fff;
  text-align: center;
  font-family: Branch;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
}
#paragraph-tatp {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.5px;
  width: 65%;
  word-break: break-word;
}
.container-sec-tatp hr {
  background: white;
  border: white;
  height: 1px;
  width: 100%;
}
.container-text-tatp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4%;
}
